# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
.env
.env.*

# Flask / build
instance/
dist/
build/

# Node/JS
node_modules/
*.map
coverage/

# Logs & temp
*.log
*.tmp
*.swp
*.zip

# Your repo specifics
.data/            # <-- this should NOT be versioned
static/cache/
static/generated/
