Flask==3.0.3
Flask-Session==0.8.0
Flask-Cors==4.0.1
gunicorn==21.2.0
itsdangerous==2.1.2
authlib==1.2.1

psycopg2-binary==2.9.9
SQLAlchemy==2.0.31
alembic==1.13.2
python-dotenv==1.0.1

openai==1.43.0
elevenlabs==1.5.0

PyMuPDF==1.24.4
python-pptx==0.6.23

numpy==2.0.1
pandas==2.2.2
openpyxl==3.1.5
